/* Estilo do título principal da seção de filmes */
.container .title {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

/* Destaque da parte da query na busca */
.title .query-text {
    color: #f7d354;
}

/* Container que organiza os cards de filmes */
.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilo individual dos cards de filmes */
.movies-container div {
    width: 30%;
    color: #fff;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #111;
    padding: 1rem;
}

/* Ajusta a largura máxima das imagens dentro dos cards */
.movies-container div img {
    max-width: 100%;
}

/* Margem inferior para os elementos internos do card */
.movies-container div img,
.movies-container div h2,
.movies-container div p {
    margin-bottom: 1rem;
}


.movies-container div svg {
    color: #f7d354;
}

/* Estilo dos links/botões nos cards de filme */
.movies-container div a {
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: black;
    padding: 1rem 0.5rem;
    align-items: center;
    transition: 0.4s;
    text-align: center;
    font-weight: bold;
}

/* Efeito hover para os links/botões */
.movies-container div a:hover {
    background-color: transparent;
    color: #f7d354;
}
